<small><small><i>
All of these python notebooks are available at [https://gitlab.erc.monash.edu.au/andrease/Python4Maths.git]
</i></small></small>

### Copying a list

Assignment of a list does not imply copying. It simply creates a second reference to the same list. Most of new python programmers get caught out by this initially. Consider the following,

In [5]:
lista= [2,1,4,3]
listb = lista
print(listb)

[2, 1, 4, 3]

Here, We have declared a list, lista = [2,1,4,3]. This list is copied to listb by assigning it's value and it get's copied as seen. Now we perform some random operations on lista.

In [7]:
lista.sort()
lista.pop()
lista.append(9)
print("A =",lista)
print("B =",listb)

A = [1, 2, 3, 9]
B = [1, 2, 3, 9]

In [8]:
lista is listb

True

listb has also changed though no operation has been performed on it. This is because you have assigned the same memory space of lista to listb. So how do fix this?

If you recall, in slicing we had seen that parentlist[a:b] returns a list from parent list with start index a and end index b and if a and b is not mentioned then by default it considers the first and last element. We use the same concept here. By doing so, we are assigning the data of lista to listb as a variable.

In [11]:
lista = [2,1,4,3]
listb = lista[:] # make a copy by taking a slice from beginning to end
print("Starting with:")
print("A =",lista)
print("B =",listb)
print("lista is listb", lista is listb)

Starting with:
A = [2, 1, 4, 3]
B = [2, 1, 4, 3]
lista is listb False

In [0]:
lista.sort()
lista.pop()
lista.append(9)
print("Finnished with:")
print("A =",lista)
print("B =",listb)

## List comprehension
A very powerful concept in Python (that also applies to Tuples, sets and dictionaries as we will see below), is the ability to define lists using list comprehension (looping) expression. For example:

In [12]:
[i**2 for i in [1,2,3]]

[1, 4, 9]

As can be seen this constructs a new list by taking each element of the original `[1,2,3]` and squaring it. We can have multiple such implied loops to get for example:

In [13]:
[10*i+j for i in [1,2,3] for j in [5,7]]

[15, 17, 25, 27, 35, 37]

Finally the looping can be filtered using an **if** expression with the **for** - **in** construct.

In [14]:
[10*i+j for i in [1,2,3] if i%2==1 for j in [4,5,7] if j >= i+4] # keep odd i and  j larger than i+3 only

[15, 17, 37]

## Sets

Sets are mainly used to eliminate repeated numbers in a sequence/list. It is also used to perform some standard set operations.

Sets are declared as set() which will initialize a empty set. Also `set([sequence])` can be executed to declare a set with elements

In [0]:
set1 = set()
print(type(set1))

In [0]:
set0 = set([1,2,2,3,3,4])
set0 = {1,2,2,3,3,4} # equivalent to the above
print(set0)

elements 2,3 which are repeated twice are seen only once. Thus in a set each element is distinct.

However be warned that **{}** is **NOT** a set, but a dictionary (see next chapter of this tutorial)

In [0]:
type({})

### Built-in Functions

In [0]:
set1 = set([1,2,3])

In [0]:
set2 = set([2,3,4,5])

**union( )** function returns a set which contains all the elements of both the sets without repition.

In [0]:
set1.union(set2)

**add( )** will add a particular element into the set. Note that the index of the newly added element is arbitrary and can be placed anywhere not neccessarily in the end.

In [0]:
set1.add(0)
set1

**intersection( )** function outputs a set which contains all the elements that are in both sets.

In [0]:
set1.intersection(set2)

**difference( )** function ouptuts a set which contains elements that are in set1 and not in set2.

In [0]:
set1.difference(set2)

**symmetric_difference( )** function ouputs a function which contains elements that are in one of the sets.

In [0]:
set2.symmetric_difference(set1)

**issubset( ), isdisjoint( ), issuperset( )** is used to check if the set1/set2 is a subset, disjoint or superset of set2/set1 respectively.

In [0]:
set1.issubset(set2)

In [0]:
set2.isdisjoint(set1)

In [0]:
set2.issuperset(set1)

**pop( )** is used to remove an arbitrary element in the set

In [0]:
set1.pop()
print(set1)

**remove( )** function deletes the specified element from the set.

In [0]:
set1.remove(2)
set1

**clear( )** is used to clear all the elements and make that set an empty set.

In [0]:
set1.clear()
set1